<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h2>Realizar login</h2>
    <form action="/realizar_login" method="post">
        <input type="email" name="email">
        <input type="password" name="senha">
        <button type="submit">Logar</button>
    </form>
    <br>
    <h2>Cadastrar-se</h2>
    <form action="/cadastro_usuario" method="post">
        <input type="nome" name="nome" placeholder="nome">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="senha" placeholder="senha">
        <input type="tel" name="telefone" placeholder="telefone">
        <input type="text" name="tipo" placeholder="tipo usuario">
        <input type="date" name="data">
        <button type="submit">Cadastrar-se</button>
    </form>
</body>
</html>